<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!-- SSO Configuration. Request from Parature -->
    <add key="ssoUsername" value="" />
    <add key="ssoPassword" value="" />
    <add key="ssoInstanceId" value="" />
    <add key="ssoIdPUrl" value="" />
  </appSettings>
</configuration>
